BOT_TOKEN=bot_token
BOT_NAME=Ongaku Bot
BOT_AUTHOR=Leonardo Pantani
BOT_VERSION=0.1
BOT_DISCORD_ID=111111111111111111
BOT_AVATAR_URL=insert_image_url

DB_TYPE=sqlite

DB_FILENAME=ongakubot.db

DB_HOST=127.0.0.1
DB_NAME=ongakuDB
DB_USERNAME=ongakubot
DB_PASSWORD=choose_a_safe_password